---
// component import
import MainHead from "./MainHead.astro"
import Footer from "../components/Footer.astro"
import Nav from "../components/Nav.astro"
//style import
import "../styles/global.css"

const { 
    title ="My Astro Blog",
    description = "description for blog page" 
} = Astro.props

---

<html lang="en">
<MainHead {title} {description}/>
	<body>
        <Nav />
        <div>
		    <main>
                <slot> Default text</slot>
            </main>
        </div>
        <Footer />
	</body>
</html>